body{
  margin: 0;
}
/* .header{
  border: 1px solid;
} */

.nav{
  /* //border: solid 1px; */
  //padding: 10px, 0;
  background: blue;
}

.menu{
  /* border: 1px solid blue; */
  width: 40%
  margin left: 60%
}

.menu li{
  /* border: 1px solid red; */
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2rem;
  font-family: helvetica;
}

.menu li a{
  color: white;
}
